<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule Appointment</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<form class="logout" th:action="@{/logout}" method="post">
    <button type="submit" class="logout-button">Logout</button>
</form>
<form th:action="@{/doctor/{id}/scheduleAppointment(id =${doctorDTO.getId()})}" method="post">
    <h1 class="white-header">Schedule An Appointment</h1>
    <h2>Patient Name</h2>
    <div id="appointment-patient-name" class="div-margins">
        <label>
            <input type="text" placeholder="First Name" th:field="*{patientDTO.firstName}">
        </label>
        <label>
            <input type="text" placeholder="Last Name" th:field="*{patientDTO.lastName}">
        </label>
    </div>
    <h2>Appointment Date</h2>
    <div id="appointment-date" class="div-margins">
        <label>
            <input type="date" th:field="*{appointment.appointmentDate}">
        </label>
        <label>
            <input type="time" th:field="*{appointment.appointmentTime}">
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>